/* backdrop */

.backdrop {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: $backdrop-background-color;

    opacity: 1;
    transition: opacity $time-animation $timing-function;

    @media screen and (max-width: 767px) {
        padding: 94px 15px;
        overflow-y: scroll;
    }

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    
    &.is-hidden .modal {
        transform: translate(-50%, -50%) scale(1.1);
    }
}