/* features */

.features {
    @extend %list;
    
    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        margin-bottom: 30px;
    
        background-color: $section-background-color;
    }
    
    @media screen and (min-width: 767px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;

        &__item {
            width: calc((100% - 30px) / 2);
            margin-right: 30px;
        }

        &__item:nth-child(2n) {
            margin-right: 0;
        }
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;

        &__item {
            width: calc((100% - 90px) / 4);
            margin-right: 30px;
        }

        &__item:nth-child(4n) {
            margin-right: 0;
        }
    }
    
    &__title {
        margin-bottom: 10px;
    
        color: $title-text-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
        text-align: left;
    }
    }
    
    &__text {
        line-height: 1.71;
    }
}