.customer {
    padding-top: 94px;
    padding-bottom: 94px;
}
.customer-top-text {
    font-family: 'Roboto';
    font-style: normal;
    @include font(700, 36px, 1.16, 0.03em);
    text-align: center;

    color: #212121;
    margin-bottom: 50px;
}
.customer-list {
    @include flex(flex, null, null);
    gap: 30px;
}
.customer-item {
    @include flex(flex, center, center);
}
.customer-link {
    
    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    fill: #AFB1B8;
    @include flex(flex, center, center);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus{
        border-color: #2196F3;
        fill: #2196F3;
    }
}
.company-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
