.header{
    background-color: #fff;
    border: 1px solid #ECECEC;
    &__container{
        @include flex(flex, null, center);
    }
}
.header__logo-first{
    color: var(--logo-title-first);
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header__logo-second{
    color: var(--logo-title-second);
}
.navigation{
    // @include flex(flex, center, null);
    display: none;
}

.navigation__link{
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--header-link);
}
.navigation__list{
    // display: none;
    @include flex(flex, null, null);
}
.navigation__item{
    padding-top: 32px;
    padding-bottom: 32px;
    &:not(:last-child){
        margin-right: 50px;
    }
}
.navigation__link{
    position: relative;
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--header-link);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: -1;
        transform: translateY(30px);
        border-radius: 2px;
        background-color: #2196F3;
        display: none;
    }
    &:hover::after,
    &:focus::after{
        display: block;
    }
    &:hover,
    &:focus{
        color: #2196F3;
    }
}
/* contact */
.header__contacs-list{
    display: none;
    // @include flex(flex, center, null);
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header__item-contact{
    @include flex(flex, null, null);
    &:not(:last-child){
        margin-right: 50px;
    }
}
.header__mail{
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--header-contacts);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include flex(flex, null, center);
    &:hover,
    &:focus{
        color: #2196F3;
    }
}
.header__tel{
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--header-contacts);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include flex(flex, null, center);
    &:hover,
    &:focus{
        color:#2196f3;
    }
}
.header__ico{
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .header__mail:hover &,
    .header__mail:focus &{
        fill: #2196F3;
    }
    .header__tel:hover &,
    .header__tel:focus &{
        fill: #2196F3;
    }
}
.header__ico-list{
    @include flex(flex, null, null);
    margin-right: 10px;
}
.header__ico{
    fill: #757575;
    margin-right: 10px;
}
// Mobale 
.mob-open-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
}
.mob-menu{
    position: fixed;
    background-color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.mob-cloce-btn {
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
}
.icon-close {
}
.mob-navigation {
    margin-bottom: 300px;
}
.mob-navigation__list {
}
.mob-navigation__item:not(:last-child) {
    margin-bottom: 32px;
}
.mob-navigation__link {
    @include font(500, 40px, 1.17,0.02em);
    color: #212121;
}
.link {
}
.mob__contacs-list {
    margin-bottom: 64px;
}
.mob__item-contact:not(:last-child) {
    margin-bottom: 32px;
}
.mob__mail {
    @include font(500, 24px, 1.16, 0.02em);
    color: #757575;
}
.mob__tel {
    @include font(500, 34px, 1.17, 0.02em);
    color: #2196F3;
}
.mob-soc-list {
}
.mod-soc-item {
}
.mob-soc-link {
    @include font(500, 18px, 1.22, 0.02em);
    color: #2196F3;
}