.hero{
    background-color: #2F303A;
    background-image: var(--gardient-bg), url(./img/desctop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: var(--gardient-bg), url(./img/desctop2x.jpg);
    }
}


@include mobale {
    background-image: var(--gardient-bg), url(./img/desctop.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx){
        background-image: var(--gardient-bg), url(../img/mobale2x.jpg);
    }
}
@include tablet{
    background-image:var(--gardient-bg), url(./img/tablet.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: var(--gardient-bg), url(./img/tablet2x.jpg);
    }
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
@include desctop{
    background-image:var(--gardient-bg), url(./img/desctop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-item{
    @include flex(flex, center, center);
}
.hero__btn{
    font-family: 'Roboto', sans-serif;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    @include flex(flex, center, center);
    margin-top: 30px;
    @include font(700, 16px, 1.88, 0.06em);
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 32px;

    margin-left: auto;
    margin-right: auto;
}
.hero__title{
    @include mobale{
        max-width: 360px;
    }
    @include desctop{
        max-width: 696px;
    }
    margin-left: auto;
    margin-right: auto;
    @include mobale{
        @include font(900, 26px, 1.62, 0.06em);
    }
    @include desctop{
        @include font(900, 44px, 1.36, 0.06em);
    }
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}