.hero{
    background-color: #2F303A;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/backgrownd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-item{
    @include flex(flex, center, center);
}
.hero-btn{
    font-family: 'Roboto', sans-serif;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    @include flex(flex, center, center);
    margin-top: 30px;
    @include font(700, 16px, 1.87, 0.06em);
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 32px;

    margin-left: auto;
    margin-right: auto;
}
.hero-title{
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    @include font(900, 44px, 1.36, 0.06em);
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}