.occupations{
    padding-bottom: 95px;
}
.occupations-top-text{
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
}
.occupations-text{
    @include font(null, 14px, 1.71, 0.03em);
}
.occupations-main-title{
    @include font(700, 36px, 1.16, 0.03em);
    text-align: center;
    color:#212121;
    margin-bottom: 50px;
}
.occupations-list{
    @include flex(flex, null, null);
    gap: 30px;
}
.occupations-top-wrap{
    position: relative;

}
.occupations-visibl{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Roboto';
    font-style: normal;
    @include font(700, 14px, 1.14, 0.03em);
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    padding:27px 0px;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}