.header-link-portfolio-class{
    @include font(500, 14px, 1.14, 0.02em);
    color:var(--leading-page);
}

.header-portfolio{
    border: 1px solid #ECECEC;
    & .container{
        @include flex(flex, null, center);
    }
}
.header-item-tel:not(:last-child) {
    margin-left: 250px;
}