.header-link-portfolio-class{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--leading-page);
}
.header-portfolio .container{
    display: flex;
    align-items: center;
}
.header-portfolio{
    border: 1px solid #ECECEC;
}
.header-item-tel:not(:last-child) {
    margin-left: 250px;
}