.team{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;

}
.team-list{
    @include flex(flex, null, null);
    gap: 30px;
}
.team-item{
    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-top-text{
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-title{
    @include font(700, 36px, 1.16, 0.03em);
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
}
.team-name{
    @include font(500, 16px, 1.18, 0.03em);
    text-align: center;
    color: var(--team-name);
    margin-bottom: 10px;
}
.team-work{
    @include font(null, 16px, 1.18, 0.03em);
    @include flex(flex, center, null);
    margin-bottom: 16px;
}
.team-soc{
    @include flex(flex, center, null);
    gap: 10px;
}
.team-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    @include flex(flex, center, center);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus{
        background-color: #2196F3;
    }
}
.team-soc-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .team-soc-link:hover &, 
    .team-soc-link:focus &{
        fill: #FFFFFF;
    }
}
