/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

$font-primary: ('Roboto', sans-serif);
$font-logo: ('Raleway', sans-serif);

/* colors */

$primary-text-color: rgba(117, 117, 117, 1);
$title-text-color: rgba(33, 33, 33, 1);

$accent-color: rgba(33, 150, 243, 1);
$accent-color-examples-cards: rgba(33, 150, 243, 0.9);
$adress-footer: rgba(255, 255, 255, 0.6);
$primary-white-color: rgba(255, 255, 255, 1);

$section-background-color: rgba(245, 244, 250, 1);
$secondary-background-color: rgba(47, 48, 58, 1);
$hero-background-color: rgba(47, 48, 58, 0.4);
$background-color-icon: rgba(175, 177, 184, 1);
$background-footer-link-color: rgba(255, 255, 255, 0.1);
$backdrop-background-color: rgba(0, 0, 0, 0.2);
$background-color-services: rgba(47, 48, 58, 0.8);

$header-border-color: rgba(236, 236, 236, 1);
$cards-border-color: rgba(238, 238, 238, 1);

$time-animation: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

/* utils */

body {
    color: $primary-text-color;
    font-size: 14px;
    font-family: $font-primary;
    letter-spacing: 0.03em;

    background-color: $primary-white-color;

    &.modal-open {
        @media screen and (max-width: 767px) {
            overflow: hidden;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
            max-width: 480px;
        }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.section {
    padding: 60px 0;

    &__title {
        margin: 0 auto 30px;

        color: $title-text-color;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
        }
        &__title {
            margin: 0 auto 50px;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
                }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

%list {
    padding: 0;
    margin: 0;

    list-style: none;
}

%pointer {
    cursor: pointer;
}

/* logo */

.logo {
    color: $accent-color;
    font-family: $font-logo;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }

    &__page-header {
        margin-right: auto;

        @media screen and (min-width: 768px) {
            margin-right: 88px;
        }
        
        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    }

    &--page-header--color {
        color: $title-text-color;
    }

    &__page-footer {
        display: inline-block;
        
        margin-bottom: 20px;
    }

    &__page-footer--color {
        color: $primary-white-color;
    }
}

/* button */

%btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;

    color: $primary-white-color;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;

    background-color: $accent-color;
    border: 0 solid transparent;
    border-radius: 4px;

    transition: box-shadow $time-animation $timing-function;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}