html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul, ol {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
    width: 100%;
	max-width: 100%;
	height: auto;
}


address {
	font-style: normal;
}
:root{
    --header-link: #212121;
    --logo-title-first: #2196F3;
    --logo-title-second: #000;
    --team-name: #212121;
    --leading-page: #2196f3;
    --portfolio-link:#212121;
    --link-color:#757575;
    --gardient-bg:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))
}
.list{
    list-style: none;
}
.link {
    text-decoration: none;
    color:var(--link-color);
  }

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 480px) {
        max-width: 480px;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}
.portfolio-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
.logo-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #757575;
}